.skeletonBase {
  position: relative;
  overflow: hidden;
  background-color: rgb(230, 230, 230);
}

.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* keyframes */
@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes topToBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* 방향별 애니메이션 클래스 */
.leftToRight {
  animation-name: leftToRight;
}
.rightToLeft {
  animation-name: rightToLeft;
}
.topToBottom {
  animation-name: topToBottom;
}
.bottomToTop {
  animation-name: bottomToTop;
}
